.login-top{
	height: 568px;
	background: #000 url(../../images/login-bg.jpg) no-repeat top center;
	padding-top: 20px;
}
.logo{
	width: 96px;
	height: 34px;
	// margin-left: -200px;
}
.login-content{
	width: 1200px;
	margin: 0 auto;
}